<uq-tab-bar><ul class="tabs red white-text" id="tab-bar">
  <li class="tab col s3">
    <a ng-class="{active:title=='微信'}" href="" ng-click="title='微信'" class="active">微信</a>
  </li>
  <li class="tab col s3">
    <a ng-class="{active:title=='联系人'}" href="" ng-click="title='联系人'">联系人</a>
  </li>
  <li class="tab col s3">
    <a ng-class="{active:title=='发现'}" href="" ng-click="title='发现'">发现</a>
  </li>
  <li class="tab col s3">
    <a ng-class="{active:title=='我'}" href="" ng-click="title='我'">我</a>
  </li>
</ul>
</uq-tab-bar>