@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  font-family: 'SFNSDisplay-Ultralight-Numbers';
  background: url(../images/packed-4.png);
}

ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "SFNSDisplay-Light";
  src: local("SFNSDisplay-Light"), url("../font/SFNSDisplay-Light.woff") format("woff");
}

@font-face {
  font-family: "SFNSDisplay-Ultralight-Numbers";
  src: local("SFNSDisplay-Ultralight-Numbers"), url("../font/SFNSDisplay-Ultralight-Numbers.woff") format("woff");
}

@font-face {
  font-family: "SFNSText-Light";
  src: local("SFNSText-Light"), url("../font/SFNSText-Light.woff") format("woff");
}

@font-face {
  font-family: "SFNSText-Medium";
  src: local("SFNSText-Medium"), url("../font/SFNSText-Medium.woff") format("woff");
}

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?t=1465008388");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1465008388#iefix") format("embedded-opentype"), url("../font/iconfont.woff?t=1465008388") format("woff"), url("../font/iconfont.ttf?t=1465008388") format("truetype"), url("../font/iconfont.svg?t=1465008388#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-naozhong:before {
  content: "\e63c";
}

.ce-left .event1 .logo, .ce-left .event1 .tixing {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

.ce-left {
  width: 25%;
  height: 640px;
  overflow: auto;
  background: #383836;
  position: relative;
  display: inline-block;
}

.ce-left .event1 {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #1D1D1C;
}

.ce-left .event1 .logo {
  background-position: 60px 10px;
  background: url(../images/packed-5.png) no-repeat 0px -588px;
  width: 60px;
  height: 16px;
}

.ce-left .event1 .tixing {
  font-size: 20px;
  color: #fff;
  opacity: .3;
  text-align: center;
  line-height: 16px;
  margin-left: 2px;
  cursor: pointer;
}

.ce-left .event1 .tixing:hover {
  color: #CCCCCC;
  opacity: 0.8;
}

.xia {
  width: 17px;
  height: 17px;
  background-position: 17px 17px;
  background: url(../images/packed-5.png) no-repeat 22px -600px;
  float: right;
  position: absolute;
}

.add {
  float: right;
  right: 0;
  position: absolute;
  top: 5px;
  float: right;
  right: 20px;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 40px;
  background: url(../images/packed-5.png) no-repeat -95px -497px;
}

.event2 {
  width: 100%;
  height: 40px;
  margin-top: 2px;
}

.event2 .plan-logo {
  font-size: 24px;
  float: left;
  margin-left: 20px;
  font-family: 'iconfont';
}

.event2 .plan-logo::after {
  content: "\e63c";
  color: #fff;
}

.event2 .plan {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  text-align: center;
  line-height: 30px;
}

.zhuijia {
  width: 100%;
  height: 40px;
}

.zhuijia-logo {
  font-size: 24px;
  float: left;
  margin-left: 20px;
  font-family: 'iconfont';
  width: 26px;
  height: 25px;
  /*background:url(../images/stylesheet-1.png) no-repeat 0 -230.5px;*/
}

.zhuijia-plan {
  font-size: 20px;
  color: #fff;
  margin-left: 20px;
  text-align: center;
  line-height: 30px;
}

.wlan {
  width: 20px;
  height: 30px;
  float: right;
  right: 0;
  margin-right: 10px;
  background: url(../images/packed-5.png) no-repeat -120px -494px;
}

/*主体开始  140 360*/
.main {
  width: 75%;
  /*height:100%;*/
  float: right;
}

.main .search {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #CECECE;
}

.main .search .search-logo {
  display: inline-block;
  width: 30px;
  height: 23px;
  text-align: center;
  background: url(../images/packed-5.png) no-repeat -140px -360px;
  float: left;
  margin-top: 10px;
  margin-left: 14px;
}

.main .search .secrch-title {
  display: inline-block;
  font-size: 20px;
  font-family: 'SFNSText-Light';
  color: #B7B7B7;
  line-height: 40px;
}

.main .search .secrch-name {
  float: right;
  color: #393939;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
}

.main .search .search-xia {
  float: right;
  margin-right: 27px;
  margin-top: 15px;
  width: 15px;
  height: 15px;
  line-height: 40px;
  display: inline-block;
  background: url(../images/packed-5.png) no-repeat -16px -620px;
}

.main .search .problem {
  float: right;
  right: 0;
  width: 29px;
  height: 23px;
  margin-right: 15px;
  background: url(../images/packed-5.png) no-repeat -108px -526px;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.main .search .shu {
  width: 1px;
  height: 20px;
  float: right;
  background: #999999;
  margin-right: 10px;
  margin-top: 10px;
}

.shopping {
  width: 990px;
  height: 80px;
  display: inline-block;
  border-bottom: 1px solid #E0E0E0;
  margin-left: 30px;
}

.shopping .buy {
  color: teal;
  font-size: 36px;
  float: left;
  margin-left: 30px;
  text-align: center;
  line-height: 80px;
}

.shopping .select {
  float: right;
  margin-right: 30px;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  color: teal;
}

.doned {
  width: 990px;
  height: 50px;
  display: inline-block;
  border-bottom: 1px solid #E0E0E0;
  margin-left: 30px;
  border-size: border-box;
  position: relative;
}

.doned .triangle {
  width: 26px;
  height: 19px;
  margin: 15px auto;
  margin-left: 30px;
  display: inline-block;
  background: url(../images/packed-5.png) no-repeat -70px -527px;
  /*-530px;*/
}

.doned .wancheng {
  width: 80px;
  height: 26px;
  font-size: 16px;
  position: absolute;
  top: 15px;
  color: #333333;
  margin-left: 70px;
  display: inline-block;
}

.doned .wancheng-doned {
  width: 50px;
  height: 20px;
  color: #A5A2A2;
  position: absolute;
  top: 17px;
  font-size: 16px;
  margin-left: 80px;
  display: inline-block;
}

.doned .clear {
  float: right;
  color: teal;
  line-height: 50px;
  margin-right: 30px;
  font-size: 18px;
}

.Time {
  width: 990px;
  height: 50px;
  border-bottom: 1px solid #E0E0E0;
  margin-left: 30px;
}

.Time .lin {
  font-size: 16px;
  color: #9B9B9B;
  margin-left: 2px;
  line-height: 50px;
  font-weight: 800;
}

.main-logo {
  width: 30px;
  height: 32px;
  /*background:url(../images/packed-5.png) no-repeat 0 -400px;*/
  float: left;
  display: inline-block;
  line-height: 30px;
  margin-top: 5px;
  margin-left: 28px;
}

.play {
  width: 364px;
  height: 239px;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
  border: 1x solid #000;
  float: right;
  right: 30px;
  top: 90px;
  display: none;
  z-index: 10;
}

.play .tan-shopping {
  width: 313px;
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}

.play .tan-shopping input {
  width: 313px;
  height: 44px;
  font-size: 16px;
}

.play .colors {
  margin-top: 25px;
  font-size: 16px;
  color: #000;
}

/*# sourceMappingURL=map/index.css.map */