<ul class="collection">
     <li class="collection-item avatar">
       <img src="images/yuna.jpg" alt="" class="circle">
       <span class="title">Title</span>
       <p>First Line <br>
       Second Line
       </p>
       <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
     </li>
     <li class="collection-item avatar">
       <i class="mdi-file-folder circle"></i>
       <span class="title">Title</span>
       <p>First Line <br>
       Second Line
       </p>
       <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
     </li>
     <li class="collection-item avatar">
       <i class="mdi-action-assessment circle green"></i>
       <span class="title">Title</span>
       <p>First Line <br>
       Second Line
       </p>
       <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
     </li>
     <li class="collection-item avatar">
       <i class="mdi-av-play-arrow circle red"></i>
       <span class="title">Title</span>
       <p>First Line <br>
       Second Line
       </p>
       <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
     </li>
   </ul>